body{
    background-color: #1A1C21;
    color: #BABABA;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #BABABA;
}
.colorGray{
    color: #BABABA;
}
.dropdown-menu{
    background-color: #1A1C21;
}
.dropdown-item{
    color: white;
}
.dropdown-item img{
    width: 60px;
}
.guns li{
    margin-left: 10px;
}
li{
    list-style-type: none; 
}
a{
    text-decoration: none;
    color: #BABABA;
}
.social-img img{
    width: 30px;
}
.profile-img{
    width: 40px;
    border-radius: 50%;
}
.gena{
    align-items: center;
    display: flex
}
.price input{
    width: 50%;
}
.price{
    padding-left: 10px;
    padding-right: 10px;
}